/* Reseteo */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap");
* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0%;
  padding: 0;
}

.nav {
  background-color: darkred;
  height: 80px;
}

.nav_logo {
  font-size: 1.5em;
  font-weight: 700;
}

.nav_container {
  display: flex;
  width: 90%;
  height: 100%;
  margin: 0, auto;
  justify-content: space-between;
  align-items: center;
}

.nav_label, .nav_input {
  display: none;
}

.nav_menu {
  display: grid;
  grid-auto-flow: column;
  height: 80%;
  gap: 3em;
}

.nav_item {
  color: greenyellow;
  font-weight: bold;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav_item::after {
  content: "";
  display: block;
  background-color: white;
  width: 90%;
  height: 3px;
  margin-top: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.5s;
}

.nav_item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width: 599px) {
  .nav_label {
    display: block;
    cursor: pointer;
  }
  .nav_menu {
    position: fixed;
    top: 286px;
    bottom: 0;
    background-color: darkorange;
    width: 100%;
    height: 500px;
    left: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 0 100%);
    transition: clip-path 1s ease-in-out;
  }
  .nav_input:checked + .nav_menu {
    background-color: darkorange;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
}
/** Estructura **/
.borde, .bordeBoton {
  border: solid 3px;
  border-radius: 3px;
}

.bordeBoton {
  background-color: darkorange;
}

@media (max-width: 599px) {
  .centradoCaja {
    display: flex;
    justify-content: center;
    margin: 36.5px 0;
  }
  /*** General - Header ***/
  .caja {
    margin: 0 15px 0 0;
    width: 100%;
    height: 100%;
  }
  .cajaSub {
    margin: 10px 0 0 50px;
  }
  .sinPunto {
    list-style-type: none;
    font-size: 12px;
  }
  /* Main - Index */
  .marginNew {
    margin: 10px;
  }
  /*** productos ***/
  .divM {
    margin: 10px 0 0 30px;
  }
  /*** Productos Sin Tacc ***/
  .divM {
    margin: 30px;
  }
  .center {
    text-align: center;
    padding: 0 0 30px 0;
  }
  .marginFlex {
    margin: 0 0 0 5px;
  }
  /*** Contacto ***/
  .margin5 {
    margin: 5px 0 0 0px;
  }
  .marginC {
    margin: -15px 0 0 0;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .centradoCaja {
    display: flex;
    justify-content: center;
    margin: 7px 0;
  }
  /*** General - Header ***/
  .caja {
    margin: 0 15px 0 0;
    width: 100%;
    height: 100%;
  }
  .cajaSub {
    margin: 10px 0 0 50px;
  }
  .sinPunto {
    list-style-type: none;
    font-size: 12px;
  }
  /* Main - Index */
  .marginNew {
    margin: 10px;
  }
  /*** productos ***/
  .divM {
    margin: 10px 0 0 30px;
  }
  /*** Productos Sin Tacc ***/
  .divM {
    margin: 30px;
  }
  .center {
    text-align: center;
    padding: 0 0 30px 0;
  }
  .marginFlex {
    margin: 0 0 0 5px;
  }
  /*** Contacto ***/
  .margin5 {
    margin: 5px 0 0 0px;
  }
  .marginC {
    margin: -15px 0 0 0;
  }
}
@media (min-width: 1200px) {
  .centradoCaja {
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }
  /*** General - Header ***/
  .caja {
    margin: 0 15px 0 0;
    width: 100%;
    height: 100%;
    text-shadow: 2px 2px 2px black;
  }
  .cajaSub {
    margin: 10px 0 0 100px;
  }
  .sinPunto {
    list-style-type: none;
  }
  /* Main - Index */
  .marginNew {
    margin: 10px;
  }
  /*** productos ***/
  .divM {
    margin: 10px 0 0 60px;
  }
  /*** Productos Sin Tacc ***/
  .divM {
    margin: 30px;
  }
  .center {
    text-align: center;
  }
  .marginFlex {
    margin: 0 0 0 5px;
  }
  /*** Contacto ***/
  .margin5 {
    margin: 5px 0 0 0px;
  }
  .marginC {
    margin: -15px 0 0 0;
  }
  /*** Quienes Somos ***/
  .marginP1 {
    margin: 45px 0 10px 45px;
  }
  .marginP2 {
    margin: 100px 0 45px 45px;
  }
}
/** Imagenes **/
.imgProdDes {
  width: 200px;
  height: 200px;
  border: solid black;
}

.banner {
  width: 95%;
}

@media (max-width: 599px) {
  /*** Index ***/
  .backGround {
    background-image: url("/Imagenes/sin_tacc_background.jpg");
    background-repeat: no-repeat;
    margin: 0px;
    width: 100%;
    height: 60vh;
  }
  .imgDim {
    width: 75px;
    height: 75px;
  }
  /*** Productos Sin Tacc ***/
  .imgProd {
    width: 200px;
    height: 200px;
    border: solid black;
  }
  /*** Contacto ***/
  .imgCon {
    border: solid;
    background-image: url(https://municipiosanjuan.gob.ar/media/k2/items/cache/fc2062aef352f80dc2215f346ba9ce28_XL.jpg);
    background-position: center;
    background-size: auto;
  }
  /*** Quienes Somos ***/
  .imgQs {
    border: solid;
    border-radius: 3px;
    background-image: url(https://http2.mlstatic.com/D_629569-MLA32922359545_112019-O.webp);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  /* Main - Index */
  .backGround {
    background-image: url("/Imagenes/sin_tacc_background.jpg");
    background-repeat: no-repeat;
    margin: 0px;
    width: 100%;
    height: 60vh;
  }
  .imgDim {
    width: 75px;
    height: 75px;
  }
  /*** Productos Sin Tacc ***/
  .imgProd {
    width: 200px;
    height: 200px;
    border: solid black;
  }
  /*** Contacto ***/
  .imgCon {
    border: solid;
    background-image: url(https://municipiosanjuan.gob.ar/media/k2/items/cache/fc2062aef352f80dc2215f346ba9ce28_XL.jpg);
    background-position: center;
    background-size: auto;
  }
  /*** Quienes Somos ***/
  .imgQs {
    border: solid;
    border-radius: 3px;
    background-image: url(https://http2.mlstatic.com/D_629569-MLA32922359545_112019-O.webp);
    background-repeat: no-repeat;
    width: 100%;
    background-position: bottom;
  }
}
@media (min-width: 1200px) {
  /* Main - Index */
  .backGround {
    background-image: url("/Imagenes/sin_tacc_background.jpg");
    background-repeat: no-repeat;
    margin: 0px;
    width: 100%;
    height: 60vh;
  }
  .imgDim {
    width: 75px;
    height: 75px;
  }
  /*** Productos Sin Tacc ***/
  .imgProd {
    width: 300px;
    height: 300px;
    border: solid black;
  }
  /*** Contacto ***/
  .imgCon {
    border: solid;
    background-image: url(https://municipiosanjuan.gob.ar/media/k2/items/cache/fc2062aef352f80dc2215f346ba9ce28_XL.jpg);
    background-position: center;
  }
  /*** Quienes Somos ***/
  .imgQs {
    border: solid;
    border-radius: 3px;
    background-image: url(https://http2.mlstatic.com/D_629569-MLA32922359545_112019-O.webp);
    background-repeat: no-repeat;
    width: 100%;
    background-position: bottom;
  }
}
/** Colores **/
h1, h2, h3, h4 {
  color: red;
  text-shadow: 3px 3px 3px black;
}

h5 {
  color: white;
  text-shadow: 2px 2px 2px black;
}

.textShadowNone {
  text-shadow: none;
}

/** Tipografia **/
.sinDeco {
  text-decoration: none;
}

.textDestacados {
  font-size: 13px;
}

@media (max-width: 599px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 12px;
  }
  h5 {
    font-size: 8px;
  }
  .fontProx {
    color: whitesmoke;
  }
  .fontRec {
    color: whitesmoke;
  }
  .letraTitArticle {
    font-size: 18px;
  }
  .letraParrafo {
    font-size: 16px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 10px;
  }
  .fontProx {
    color: whitesmoke;
  }
  .fontRec {
    color: whitesmoke;
  }
  .letraTitArticle {
    font-size: 18px;
  }
  .letraParrafo {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  .fontProx {
    color: whitesmoke;
  }
  .fontRec {
    color: whitesmoke;
  }
  .letraTitArticle {
    font-size: 18px;
  }
  .letraParrafo {
    font-size: 16px;
  }
}
/*** Grids ***/
@media (max-width: 599px) {
  .gridHeader {
    display: grid;
    grid-template-areas: "logo titulo" "spotify spotify";
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 100px;
    background-color: darkorange;
    text-align: center;
  }
  #logo {
    grid-area: logo;
  }
  #titulo {
    grid-area: titulo;
  }
  #spotify {
    grid-area: spotify;
  }
  /*** General - Footer ***/
  .gridFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    align-content: space-around;
    text-align: center;
    background: lightgrey;
    padding: 10px;
  }
  .gridDesa {
    display: grid;
    background-color: darkred;
    padding: 5px;
    border: solid;
  }
  /* Main - Index */
  .gridNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: darkred;
    padding: 15px;
    align-content: space-between;
    list-style-type: none;
    justify-items: center;
  }
  #promociones {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10%;
    grid-area: promociones;
  }
  #beneficios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10%;
    grid-area: beneficios;
  }
  #newLetter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 15% 15% 15%;
    grid-area: newLetter;
  }
  #grid {
    display: grid;
    grid-template-areas: "promociones beneficios" "promociones beneficios" "newLetter newLetter";
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: darkred;
    border: solid black;
  }
  /*** productos ***/
  #gridProd {
    display: grid;
    grid-template-areas: "galeria" "destacados" "publi";
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 0.35fr;
  }
  #galeria {
    grid-area: galeria;
    border: solid black 1.5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  #destacados {
    grid-area: destacados;
    border: solid black 1.5px;
    background-color: lightgrey;
  }
  #publi {
    grid-area: publi;
    border: solid black 1.5px;
    background-color: lightgrey;
  }
  /*** Productos Sin Tacc ***/
  #gridSinTacc {
    display: grid;
    grid-template-areas: "recetas recetas" "galeria galeria" "destacados destacados" "publi publi";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr 0.35fr;
  }
  #recetas {
    grid-area: recetas;
    border: solid black 1.5px;
    background-color: darkred;
  }
  /*** Contacto ***/
  #gridCon {
    display: grid;
    grid-template-areas: "formulario" "destacados" "publi";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 150px 150px;
  }
  #gridForm {
    display: grid;
    grid-area: formulario;
    border: solid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  /*** Quienes Somos ***/
  #gridQs {
    display: grid;
    grid-template-areas: "articulos" "destacados" "publi";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
  }
  #articulos {
    display: grid;
    grid-area: articulos;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  /*** General - Header ***/
  .gridHeader {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 100px;
    background-color: darkorange;
    justify-content: space-between;
  }
  /*** General - Footer ***/
  .gridFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    align-content: space-around;
    text-align: center;
    background: lightgrey;
    padding: 10px;
  }
  .gridDesa {
    display: grid;
    background-color: darkred;
    padding: 5px;
    border: solid;
  }
  /* Main - Index */
  .gridNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: darkred;
    padding: 15px;
    align-content: space-between;
    list-style-type: none;
  }
  #promociones {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10%;
    grid-area: promociones;
  }
  #beneficios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10%;
    grid-area: beneficios;
  }
  #newLetter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 15% 15% 15%;
    grid-area: newLetter;
  }
  #grid {
    display: grid;
    grid-template-areas: "promociones beneficios" "promociones beneficios" "newLetter newLetter";
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: darkred;
    border: solid black;
  }
  /*** productos ***/
  #gridProd {
    display: grid;
    grid-template-areas: "galeria" "destacados" "publi";
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 0.5fr;
  }
  #galeria {
    grid-area: galeria;
    border: solid black 1.5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #destacados {
    grid-area: destacados;
    border: solid black 1.5px;
    background-color: lightgrey;
  }
  #publi {
    grid-area: publi;
    border: solid black 1.5px;
    background-color: lightgrey;
  }
  /*** Productos Sin Tacc ***/
  #gridSinTacc {
    display: grid;
    grid-template-areas: "recetas" "galeria" "destacados" "publi";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr 0.5fr;
  }
  #recetas {
    grid-area: recetas;
    border: solid black 1.5px;
    background-color: darkred;
  }
  /*** Contacto ***/
  #gridCon {
    display: grid;
    grid-template-areas: "formulario" "destacados" "publi";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 150px 150px;
  }
  #gridForm {
    display: grid;
    grid-area: formulario;
    border: solid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  /*** Quienes Somos ***/
  #gridQs {
    display: grid;
    grid-template-areas: "articulos" "destacados" "publi";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
  }
  #articulos {
    display: grid;
    grid-area: articulos;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media (min-width: 1200px) {
  /*** General - Header ***/
  .gridHeader {
    display: grid;
    grid-template-columns: 95px 450px 1fr;
    grid-template-rows: 100px;
    background-color: darkorange;
    justify-content: space-between;
  }
  /*** General - Footer ***/
  .gridFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    align-content: space-around;
    text-align: center;
    background: lightgrey;
    padding: 10px;
  }
  .gridDesa {
    display: grid;
    background-color: darkred;
    padding: 5px;
    border: solid;
  }
  /* Main - Index */
  .gridNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: darkred;
    padding: 15px;
    align-content: space-between;
    list-style-type: none;
  }
  #promociones {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10%;
    grid-area: promociones;
  }
  #beneficios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10%;
    grid-area: beneficios;
  }
  #newLetter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15%;
    grid-area: newLetter;
  }
  #grid {
    display: grid;
    grid-template-areas: "promociones beneficios newLetter";
    justify-items: center;
    align-items: center;
    background-color: darkred;
    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
    border: solid black;
  }
  /*** productos ***/
  #gridProd {
    display: grid;
    grid-template-areas: "destacados galeria" "destacados galeria" "publi publi";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 0.5fr;
  }
  #galeria {
    grid-area: galeria;
    border: solid black 1.5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #destacados {
    grid-area: destacados;
    border: solid black 1.5px;
    background-color: lightgray;
  }
  #publi {
    grid-area: publi;
    border: solid black 1.5px;
    background-color: lightgray;
  }
  /*** Productos Sin Tacc ***/
  #gridSinTacc {
    display: grid;
    grid-template-areas: "recetas recetas" "destacados galeriaST" "publi publi";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
  }
  #galeriaST {
    grid-area: galeriaST;
    border: solid black 1.5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #recetas {
    grid-area: recetas;
    border: solid black 1.5px;
    background-color: darkred;
  }
  /*** Contacto ***/
  #gridCon {
    display: grid;
    grid-template-areas: "destacados formulario" "publi publi";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }
  #gridForm {
    display: grid;
    grid-area: formulario;
    border: solid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }
  /*** Quienes Somos ***/
  #gridQs {
    display: grid;
    grid-template-areas: "destacados articulos" "publi publi";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr;
  }
  #articulos {
    display: grid;
    grid-area: articulos;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}
/** Flexbox **/
/*** Productos Sin Tacc ***/
.flexPrecio {
  display: flex;
  flex-direction: row;
}

/*** Quienes Somos ***/
.flexQs {
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
}

@media (max-width: 599px) {
  .flexDestacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .flexDestacados {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .flexDestacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
  }
}
/** Animaciones **/
.bordeBoton:hover {
  font-weight: bold;
}

.sinDeco:hover {
  font-weight: bold;
  color: blue;
}

@media (max-width: 599px) {
  /*** Productos Sin Tacc ***/
  .fontRec:hover {
    color: blue;
    text-shadow: 3px;
  }
  .tituloAnimado {
    animation-name: titulo;
    animation-duration: 1s;
  }
  @keyframes titulo {
    from {
      transform: translateX(700px);
    }
    to {
      transform: translateX(0px);
    }
  }
  .subTitAnimado {
    animation-name: subtitulo;
    animation-duration: 1s;
  }
  @keyframes subtitulo {
    from {
      transform: translateX(-500px);
    }
    to {
      transform: translateX(0);
    }
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .fontRec:hover {
    color: blue;
    text-shadow: 3px;
  }
  .tituloAnimado {
    animation-name: titulo;
    animation-duration: 1s;
  }
  @keyframes titulo {
    from {
      transform: translateX(1300px);
    }
    to {
      transform: translateX(0px);
    }
  }
  .subTitAnimado {
    animation-name: subtitulo;
    animation-duration: 1s;
  }
  @keyframes subtitulo {
    from {
      transform: translateX(-500px);
    }
    to {
      transform: translateX(0);
    }
  }
}
@media (min-width: 1200px) {
  .fontRec:hover {
    color: blue;
    text-shadow: 3px;
  }
  .tituloAnimado {
    animation-name: titulo;
    animation-duration: 1s;
  }
  @keyframes titulo {
    from {
      transform: translateX(2000px);
    }
    to {
      transform: translateX(0px);
    }
  }
  .subTitAnimado {
    animation-name: subtitulo;
    animation-duration: 1s;
  }
  @keyframes subtitulo {
    from {
      transform: translateX(-500px);
    }
    to {
      transform: translateX(0);
    }
  }
}

/*# sourceMappingURL=destino.css.map */
