/** Flexbox **/
@media (min-width: 360px) and (max-width: 599px) {

/*** Productos Sin Tacc ***/

    .flexPrecio {
        display: flex;
        flex-direction: row;
    }

/*** Quienes Somos ***/

.flexQs {
    flex-direction: column;
    -ms-flex-align: center;
}
}

@media (min-width: 600px) and (max-width: 1199px) {

    /*** Productos Sin Tacc ***/

    .flexPrecio {
        display: flex;
        flex-direction: row;
    }

   /*** Quienes Somos ***/

   .flexQs {
    flex-direction: column;
    -ms-flex-align: center;
}
}

@media (min-width: 1200px) {

   /*** Productos Sin Tacc ***/
   
   .flexPrecio {
    display: flex;
    flex-direction: row;
}

/*** Quienes Somos ***/

.flexQs {
    flex-direction: column;
    -ms-flex-align: center;
}

}